/plugins/quicktabs_styles/gotosch_origins/.sass-cache/
/plugins/quicktabs_styles/gotosch_origins_tabs/.sass-cache/
/plugins/quicktabs_styles/gotosch_pills/.sass-cache/
/plugins/quicktabs_styles/gotosch_tabs/.sass-cache/
